body {
    background: linear-gradient(to right, #ffcccc, #ffffff); 
    margin: 0; 
    padding: 0;
}

.imageContainer {
    display: block;
    margin:  auto; 
    text-align: center;
}

.mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.subContainer, .buttonContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    border:solid;
    text-align: center;
}

.answer{
    position: absolute;
    display: block;
    padding: 16px 40px;
    border-radius: 5px;
    border: 2px solid #ffffff; 
    background: linear-gradient(to bottom right, #ff9999, #ffcccc); 
    color: #ffffff; 
    cursor: pointer;
    margin: 10px ; 
    transition: background 0.3s ease; 
}

.fixed-position-yes{
    left: 640px;
    top: 389px;
}

.initial-position-no {
    /* Set the initial position (adjust values as needed) */
    left: 770px;
    top: 389px;
}

.answer:hover{
    background: linear-gradient(to bottom right, #ffcccc, #ff9999);
}


.answer:active{
    background: linear-gradient(to bottom right, #ff9999, #ff9999);
}