body {
    background: linear-gradient(to right, #ffcccc, #ffffff); 
    margin: 0; 
    padding: 0;
}

.imageContainer {
    display: block;
    margin:  auto; 
    text-align: center;
}

.mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
}


.subContainer, .buttonContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.answer{
    background: linear-gradient(to bottom right, #ff9999, #ffcccc);
    color: white;
    padding: 16px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background 0.3s ease; 
}

.fixed-position-yes{
    position: absolute;
    margin-right: 150px;
}

.initial-position-no {
    position: absolute;
    margin-left: 150px;
}

.answer:hover{
    background: linear-gradient(to bottom right, #ffcccc, #ff9999);
}


.answer:active{
    background: linear-gradient(to bottom right, #ff9999, #ff9999);
}